@import url('../vendor/normalize.css');
@import url('../fonts/fonts.css');


.page {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  background-color: #e9e7e7;
  background-image: url('../images/intro-bg.jpg');
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: center top;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}

.page-link {
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.page-link:hover {
  opacity: 0.7;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  column-gap: 44px;
  padding-top: 29px;
}

@media screen and (max-width: 1023px) {
  .header {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .header {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}

.header__nav-list {
  display: flex;
  column-gap: 44px;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .header__nav-list {
    column-gap: 18px;
    margin-top: 15px;
    opacity: 0.9;
  }
}

.header__nav-link {
  font-family: 'Roboto';
  font-size: 19px;
  font-weight: normal;
  letter-spacing: -0.2px;
  color: #3e3e3e;
}

@media screen and (max-width: 767px) {
  .header__nav-link {
    font-size: 16px;
  }
}

.header__logo-img {
  width: 140px;
}

/* Intro */

.intro {
  padding: 94px 0 130px 0;
}

.intro__container {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .intro__container {
    justify-content: center;
  }
}

.intro__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 460px;
  padding-top: 30px;
}

.intro__title {
  margin: 0;
  font-family: 'Prata';
  font-size: 60px;
  font-weight: 600;
  line-height: 76px;
  color: #704B3A;
  text-align: center;
  letter-spacing: 2px;
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 45px;
    line-height: 52px;
  }
}

.intro__underline {
  margin: 8px 0 0;
  font-family: 'Prata';
  font-size: 27px;
  font-weight: 400;
  color: #344238;
  text-align: center;
}

.intro__description {
  max-width: 400px;
  margin: 45px 0 0;
  font-family: 'Roboto';
  font-size: 17px;
  font-style: italic;
  font-weight: 400;
  color: #344238;
  text-align: center;
}

.intro__button {
  display: inline-block;
  margin-top: 32px;
  margin-bottom: 20px;
  padding: 12px 19px;
  border: 3px solid #825D4D;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: #825D4D;
  color: #ffffff;
  text-decoration: none;
  transition: opacity 0.4s ease, color 0.4s ease, background 0.4s ease;
  text-align: center;
  text-transform: uppercase;
}

.intro__button:hover {
  background-color: transparent;
  color: #825D4D;
}

.intro__image {
  max-height: 434px;
  max-width: 640px;
  height: auto;
  object-fit: cover;
  border-bottom-left-radius: 210px;
  opacity: 0.9;
}

@media screen and (max-width: 1279px) {
  .intro__image {
    max-width: 473px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 1023px) {
  .intro__image {
    display: none;
  }
}


/* Benefits */

.benefits {
  padding: 85px 0 100px;
  background-color: #232323;
  background-image: url('../images/dark-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.benefits__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits__title {
  margin: 0;
  font-family: 'Prata';
  font-size: 49px;
  font-weight: 300;
  color: #ffe0c4;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .benefits__title {
    font-size: 40px;
  }
}

.benefits__underline {
  margin: 10px 0 0;
  font-family: 'Prata';
  font-size: 28px;
  font-weight: 300;
  color: #ffe0c4;
  text-align: center;
  text-transform: lowercase;
}

@media screen and (max-width: 1023px) {
  .benefits__underline {
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  .benefits__underline {
    font-size: 18px;
  }
}

.benefits__list {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  margin-top: 60px;
  list-style: circle;
}

.benefits__item {
  margin-top: 10px;
  font-family: 'Roboto';
  font-style: italic;
  font-size: 24px;
  font-weight: 300;
  color: #e9e7e7;
  letter-spacing: 0.1px;
}

@media screen and (max-width: 1023px) {
  .benefits__item {
    font-size: 21px;
  }
}

@media screen and (max-width: 767px) {
  .benefits__item {
    max-width: 340px;
    font-size: 18px;
  }
}

/* Photo Grid */

.photo-grid {
  padding: 85px 0 110px;
}

.photo-grid__container {
  display: grid;
  row-gap: 40px;
  max-width: 1110px;
}

@media screen and (max-width: 767px) {
  .photo-grid__container {
    row-gap: 9px;
  }
}

.photo-grid__row {
  display: flex;
  column-gap: 40px;
}

@media screen and (max-width: 767px) {
  .photo-grid__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 8px;
  }
}

.photo-grid__row_accent {
  display: grid;
  grid-template-areas:
  'a b'
  'a c';
  grid-template-columns: 1fr 1fr;
  justify-items: self-end;
}

@media screen and (max-width: 767px) {
  .photo-grid__row_accent {
    grid-template-areas:
    'a b'
    'c c';
  }
}

.photo-grid__title {
  position: relative;
  margin: 0;
  font-family: 'Prata';
  font-size: 46px;
  font-weight: 400;
  color: #704B3A;
  letter-spacing: 1px;
}

@media screen and (max-width: 767px) {
  .photo-grid__title {
    margin: 0 0 31px 0;
  }
}

.photo-grid__title::after {
  position: absolute;
  bottom: -12px;
  left: 1px;
  content: '___';
  letter-spacing: 0;
}

@media screen and (max-width: 411px) {
  .photo-grid__title::after {
    bottom: -24px;
  }
}

.photo-grid__photo {
  max-width: 360px;
  width: 100%;
  height: 230px;
  object-fit: cover;
  transition: opacity 0.3s ease;
  overflow: hidden;
}

.photo-grid__photo:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 4px 4px 100px -49px rgba(34, 60, 80, 0.5);
}

.photo-grid__photo_size_lg {
  grid-area: a;
  max-width: 653px;
  height: 899px;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .photo-grid__photo_size_lg {
    max-width: 360px;
    width: 100%;
    height: 230px;
  }
}

.photo-grid__photo_size_md {
  grid-area: b;
  max-width: 484px;
  height: 373px;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .photo-grid__photo_size_md {
    max-width: 360px;
    width: 100%;
    height: 230px;
  }
}


.photo-grid__features {
  display: flex;
  flex-direction: column;
  row-gap: 55px;
  grid-area: c;
  max-width: 484px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-size: 28px;
  color: #232323;
  list-style: circle;
}

@media screen and (max-width: 1023px) {
  .photo-grid__features {
    row-gap: 37px;
    font-size: 23px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__features {
    justify-self: flex-start;
    row-gap: 20px;
    margin: 30px 0 20px 10px;
    font-size: 17px;
  }
}

.photo-grid__feature {
  max-width: 320px;
  margin-left: 25px;
}

@media screen and (max-width: 767px) {
  .photo-grid__feature {
    margin-left: 7px;
  }
}

/* Footer */

.footer {
  position: relative;
  padding: 45px 0 90px;
  background-color: #232323;
}

.footer__container {
  display: flex;
  column-gap: 70px;
}

@media screen and (max-width: 1023px) {
  .footer__container {
    flex-wrap: wrap;
    column-gap: 150px;
  }
}

@media screen and (max-width: 767px) {
  .footer__container {
    flex-direction: column;
    row-gap: 40px;
  }
}

.footer__title {
  margin: 0 0 25px 0;
  font-family: 'Prata';
  font-size: 31px;
  font-weight: 400;
  color: #ffe0c4;
}

.footer__info {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__info-item {
  margin-bottom: 14px;
}

.footer__link {
  display: flex;
  align-items: center;
  column-gap: 7px;
  width: fit-content;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.footer__link:hover {
  opacity: 0.7;
}

.footer__text {
  display: inline-block;
  margin: 7px 0 0 7px;
  font-size: 16px;
  color: #ffffff;
}

.footer__icon {
  width: 24px;
  height: 19px;
  fill: #ffffff;
}

.footer__map {
  max-width: 560px;
  margin-left: auto;
}

@media screen and (max-width: 1023px) {
 .footer__map {
   margin-top: 40px;
   margin-left: 0;
 }
}

@media screen and (max-width: 767px) {
  .footer__map {
    width: 100%;
    margin: 0 auto;
  }
}

.footer__copyright {
  position: absolute;
  bottom: 20px;
  color: #ffffff;
  opacity: 0.5;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  transition: visibility 0.2s ease, opacity 0.2s ease;
  opacity: 0;
  visibility: hidden;
}

.popup_is_opened {
  opacity: 1;
  visibility: visible;
}

.popup__container {
  position: relative;
  top: 30px;
}

.popup__close-button {
  position: absolute;
  top: -40px;
  right: -31px;
  width: 26px;
  height: 26px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url('../../../images/close-button-icon.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.popup__close-button:not(:hover) {
  transition: opacity 0.3s ease;
}

@media screen and (max-width: 767px) {

  .popup__close-button {
    top: -34px;
    right: 0;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }

}

.full-view__image {
  max-width: 75vw;
  max-height: 75vh;
  width: 100%;
  object-fit: cover;
}
