@import url('../vendor/normalize.css');
@import url('../fonts/fonts.css');

/* popup */

@import url('../blocks/popup/popup.css');
@import url('../blocks/popup/_is_opened/popup_is_opened.css');
@import url('../blocks/popup/__container/popup__container.css');
@import url('../blocks/popup/__close-button/popup__close-button.css');

/* full-view */

@import url('../blocks/full-view/__image/full-view__image.css');
@import url('../blocks/full-view/__caption/full-view__caption.css');

.page {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  background-color: #e9e7e7;
  background-image: url('../images/intro-bg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}

.page-link {
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.page-link:hover {
  opacity: 0.8;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 19px 0;
}

.header__nav-list {
  display: flex;
  column-gap: 25px;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0.9;
}

.header__nav-link {
  font-family: 'Roboto';
  font-size: 19px;
  font-weight: normal;
  letter-spacing: -0.5px;
  color: #3e3e3e;
}

.header__nav-link_is_active {
  font-weight: 500;
  color: #232323;
}

.header__nav-link_is_active:hover {
  opacity: 1;
}

.header__logo-img {
  width: 140px;
}

/* Intro */

.intro {
  padding: 94px 0 130px 0;
}

.intro__container {
  display: flex;
  justify-content: space-between;
}

.intro__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 460px;
  padding-top: 30px;
}

.intro__title {
  margin: 0;
  font-family: 'Prata';
  font-size: 60px;
  font-weight: 600;
  line-height: 76px;
  color: #704B3A;
  text-align: center;
  letter-spacing: 2px;
}

.intro__underline {
  margin: 8px 0 0;
  font-family: 'Prata';
  font-size: 27px;
  font-weight: 400;
  color: #344238;
  text-align: center;
}

.intro__description {
  max-width: 400px;
  margin: 45px 0 0;
  font-family: 'Roboto';
  font-size: 17px;
  font-style: italic;
  font-weight: 400;
  color: #344238;
  text-align: center;
}

.intro__button {
  display: inline-block;
  margin-top: auto;
  margin-bottom: 20px;
  padding: 12px 19px;
  border: 3px solid #825D4D;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: #825D4D;
  color: #ffffff;
  text-decoration: none;
  transition: opacity 0.4s ease, color 0.4s ease, background 0.4s ease;
  text-align: center;
  text-transform: uppercase;
}

.intro__button:hover {
  background-color: transparent;
  color: #825D4D;
}

.intro__image {
  max-height: 434px;
  max-width: 640px;
  object-fit: cover;
  border-bottom-left-radius: 210px;
  opacity: 0.9;
}

/* Benefits */

.benefits {
  padding: 85px 0 100px;
  background-color: #232323;
}

.benefits__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits__title {
  margin: 0;
  font-family: 'Prata';
  font-size: 49px;
  font-weight: 300;
  color: #ffe0c4;
  text-align: center;
}

.benefits__underline {
  margin: 10px 0 0;
  font-family: 'Prata';
  font-size: 28px;
  font-weight: 300;
  color: #ffe0c4;
  text-align: center;
  text-transform: lowercase;
}

.benefits__list {
  margin-top: 60px;
  list-style: circle;
}

.benefits__item {
  margin-top: 10px;
  font-family: 'Roboto';
  font-style: italic;
  font-size: 24px;
  font-weight: 300;
  color: #e9e7e7;
  letter-spacing: 0.1px;
}

/* Photo Grid */

.photo-grid {
  padding: 85px 0 110px;
}

.photo-grid__container {
  display: grid;
  row-gap: 40px;
  max-width: 1110px;
}

.photo-grid__row {
  display: flex;
  column-gap: 40px;
}

.photo-grid__row_accent {
  display: grid;
  grid-template-areas:
  'a b'
  'a c';
  grid-template-columns: 1fr 1fr;
  justify-items: self-end;
  column-gap: 0;
}

.photo-grid__title {
  position: relative;
  margin: -14px 0 0;
  font-family: 'Prata';
  font-size: 46px;
  font-weight: 400;
  color: #704B3A;
  letter-spacing: 1px;
}

.photo-grid__title::after {
  position: absolute;
  bottom: -12px;
  left: 1px;
  content: '___';
  letter-spacing: 0;
}

.photo-grid__photo {
  max-width: 360px;
  width: 100%;
  height: 230px;
  object-fit: cover;
  transition: opacity 0.3s ease;
  overflow: hidden;
}

.photo-grid__photo:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 4px 4px 100px -49px rgba(34, 60, 80, 0.5);
}

.photo-grid__photo_size_lg {
  grid-area: a;
  max-width: 653px;
  height: 899px;
  object-fit: cover;
}

.photo-grid__photo_size_md {
  grid-area: b;
  max-width: 484px;
  height: 373px;
  object-fit: cover;
}

.photo-grid__features {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  grid-area: c;
  max-width: 484px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-size: 30px;
  color: #232323;
  list-style: none;
}

/* Footer */

.footer {
  padding: 45px 0 90px;
  background-color: #232323;
}

.footer__container {
  display: flex;
  column-gap: 70px;
}

.footer__title {
  margin: 0 0 25px 0;
  font-family: 'Prata';
  font-size: 31px;
  font-weight: 400;
  color: #ffe0c4;
}

.footer__info {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__info-item {
  margin-bottom: 14px;
}

.footer__link {
  display: flex;
  align-items: center;
  column-gap: 7px;
  width: fit-content;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.footer__link:hover {
  opacity: 0.7;
}

.footer__icon {
  width: 24px;
  height: 19px;
  fill: #ffffff;
}

.footer__map {
  margin-left: auto;
}
